.icon {
  display: inline-block;
  line-height: 1em;
  font: 1em FontAwesome;
  font-smoothing();
  color: #555;
}

.icon-github {
  &:before{ content:"\f09b"; }
}

.icon-email {
  &:before{ content:"\f003"; }
}