.icon {
  display: inline-block;
  line-height: 1em;
  font: 1em FontAwesome;
  font-smoothing();
  color: #555;
}

.icon-github {
  &:before { content:"\f09b"; }
}

.icon-email {
  &:before { content:"\f003"; }
}

.icon-collapse {
  &:before {
    content: "\f0c9";
  }
}


.icon-spread {
  &:before { content: "\f192"; }
}