.container{
  min-height: 100%;
}

.main {
  //padding-top: 70px;
  padding-bottom: 50px;
  clearfix();
  +tablet() {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  +mobile() {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

.main-inner {
  margin: 0 auto;
  width: $main-desktop;

  +tablet() {
    width: auto;
  }
  +mobile() {
    width: auto;
  }
}

.content-wrap{
  position: relative;
  float: right;
  box-sizing: border-box;
  width: $content-desktop;
  background: $theme-layout-backgroud;
  min-height: 700px;
  //border-radius: 8px;
  //shadow();

  +tablet() {
    width: 100%;
  }
  +mobile() {
    width: 100%;
    min-height: auto;
  }

  .icon-spread {
    position: absolute;
    top:  4px;
    left: 6px;
    display: none;
    font-size: 18px;
    +tablet() {
      display: none!important;
    }
    +mobile() {
      display: none!important;
    }
  }

}

.content-wrap-normal {
  padding: 25px;
}

.sidebar {
  position: fixed;
  float: left;
  width: $sidebar-desktop;
  background: $theme-layout-backgroud;
  //border-radius: 8px;
  //shadow();

  +tablet() {
    display: none;
  }
  +mobile() {
    display: none;
  }
}
  

.navbar {
  position: fixed;
  right: 0 ;
  left: 0;
  z-index: 1030;
  min-height: 50px;
  font-weight: 600;
  background-color: #8ECFD5;
  border: 1px solid transparent;
  clearfix();
}

.navbar-inner {
  width: 1200px;
  margin: 0 auto;
  clearfix();
  +tablet() {
    width: auto;
  }
  +mobile() {
    width: auto;
  }
}

.post-nav {
  padding:10px 0;
}

.main-inner-center {
  width: $content-desktop;
}

.headband {
  height: 3px;
  background: $headband-background;
}

.horizontal-line{
  height: 1px;
  background: #eee;
}
