
.post-nav-body {
  position: relative;
  padding: 0 12px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 3px;
    background: #eee;
    border-radius: 5px;
    z-index: -3;
  }

  .highlight-title {
    height: 24px;

    position: absolute;
    display: block;
    left: 0;
    right: 0;
    background: #f3f3f3;
    z-index: -2;
    border-left: 3px solid #009a61;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  ol {
    position: relative;
    margin: 0;
    padding-left: 18px;
    list-style-type: square;

    li {
      z-index: 3;
    }

    a {
      display: block;
    }
  }

}

.nav-fix {
  position: fixed;
  top: 0;
}

.sidebar-nav {
  text-align: center;
  li {
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    //font-size: 1.2em;

    &.active {
      color: #fc6423;
    }
  }
}

.tab-content {

  padding:10px 0;

  .tab-panel {
    display: none;

    &.active {
      display: block;
    }
  }
}