.categorieslist {
  margin: 1em 0 0;
}

.categorieslist-title {
  @extends $sidebar-title;
}

.categorieslist-item {
  border-bottom: 1px solid $grey-light;
  a {
    display: block;
    line-height: 1em;
    padding: 0.5em 5%;
  }
}

