.sidebar-inner {
  box-sizing: border-box;
  width: $sidebar-desktop;
  padding: 15px 25px;
  line-height: 1.6em;

  .icon-collapse {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 18px;
    color: $blue-bright;
  }
}

$sidebar-title {
    padding: 0 0 .3125em 0;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 700;
    border-bottom: .1875em solid $grey-light;
}


@import "sidebar-author"
@import "sidebar-categorieslist"
@import "sidebar-tagslist"







