.tagslist {
  margin: 1em 0 0;
  ul {
    padding: .5em 0;
    clearfix();
  }
}

.tagslist-title {
  @extends $sidebar-title;
}

.tagslist-item {
  float: left;
  a {
    display: block;
    margin: .3125em;
    padding: .125em .3125em;
    font-size: .8em;
    line-height: 1em;
    background: lighten($grey-light,30%);
  }
}
