.sidebar-inner {
  box-sizing: border-box;
  width: $sidebar-desktop;
  padding: 15px 25px;
  line-height: 1.6em;
}

$sidebar-title {
    padding: 0 0 .3125em 0;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 700;
    border-bottom: .1875em solid $grey-light;
}

@import "sidebar-btn"
@import "sidebar-author"
@import "sidebar-categorieslist"
@import "sidebar-tagslist"







